@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .arrow{
        margin: 60px 0px 0px 60px;
    }
    .icon{
        font-size: 35px;
        color: black;
       
    }

    .img2-logo{
        z-index: 1;
    }

    .img2-logo img{
        width: 461px;
       margin-top: -150px;
       margin-bottom: -10px;
      
    }
}

.recipe-desc{


    .img3-rcp img{
        width: 100%;
        margin-top: -150px;
      
    }
}

.title-serve{
    text-align: center;
    margin-top: 30px;
    
}

.serving{
    font-size: 20px;
    
}
.title{
    color: #FF5757; 
    font-size: 40px;
    font-weight: bold;
   
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    .info1{
        margin-left: 100px;
        font-size: 25px;
    }

    .info2{
        margin-right: 150px;
        font-size: 25px;
    }
    .flav{
        margin-left: 100px;
    }
    
}

.nutri, .ingredients, .alternative{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nutri-title{
        margin: 75px 0px 0px 100px;
        
    }
    .nutri-title h2, .ingr-title h2, .alt-title h2{
        font-weight: normal;
        font-size: 40px;
    }
    .nutri-info{
        margin: 50px 300px 0px 0px;
        font-size: 23px;
    }
    
    .ingr-title{
        margin: 175px 0px 0px 100px;
       
    }
    .ingr-info{
        margin: 100px 165px 0px 0px;
        font-size: 23px;
    }
    
    
    .alt-title{
        margin: 75px 0px 0px 100px;
    }
    .alt-info{
        margin: 75px 270px 0px 0px;
        font-size: 23px;
        width: 300px;
    }
    
}



.preparation, .storage, .note{

    margin: 50px 0px 0px 100px;
    font-weight: normal;

    .prep-info ul li{
        list-style: none;
    }
    .prep-info, .note-info{
        margin-top: 25px;
        
    }
    .prep-info{
        font-size: 20px;
        margin-left: 10px;
    }
    .note-info{
        font-size: 20px;
        margin-left: 30px;
        width: 1300px;
       
      
        
    }
    .stg-info{
        margin: 20px 0px 0px 30px;
        font-size: 20px;
    }

    .prep-title h2, .stg-title h2, .note-title h2{
        font-weight: normal;
        font-size: 35px;
    } 
}

/* Tablet mode (768px) */
@media only screen and (min-width: 768px) and (max-width: 768px){ /*minimum and maximum width of 768px added to not affect laptop/desktop mode*/
    .navbar .arrow {
        margin: 60px 0 0 60px;
    }

    .navbar .icon {
        font-size: 35px;
        color: black;
    }

    .navbar .img2-logo img {
        width: 461px;
        margin-top: -150px;
        margin-bottom: -10px;
    }

    .infos {
        margin-top: 30px;

        .info1 {
            margin-left: 100px;
            font-size: 25px;
        }

        .info2 {
            text-align: right;/*To align text in tablet mode*/
            font-size: 25px;
        }

        .flav {
            margin-left: 100px;
        }
    }

    .nutri, .ingredients, .alternative {
        .nutri-title {
            margin: 75px 0 0 50px;
        }

        .nutri-title h2, .ingr-title h2, .alt-title h2 {
            font-weight: normal;
            font-size: 40px;
        }

        .nutri-info {
            margin: 50px 140px 0 10px;
            font-size: 23px;
        }

        .ingr-title {
            margin: 175px 0 0 50px;
        }

        .ingr-info {
            margin: 100px 5px 20px 50px;
            font-size: 23px;
        }

        .alt-title {
            margin: 75px 0 0 50px;
        }

        .alt-info {
            margin: 75px 250px 0 80px;
            font-size: 23px;
            width: 300px;
        }
    }

    .preparation, .storage, .note {
        margin: 50px 0 0 100px;
        font-weight: normal;

        .prep-info ul li {
            list-style: none;
        }

        .prep-info, .note-info {
            margin-top: 25px;
        }

        .prep-info {
            font-size: 20px;
            margin-left: 10px;
        }

        .note-info {
            font-size: 20px;
            margin-left: 30px;
            width: 600px;/*Added width to fit tablet mode*/
        }

        .stg-info {
            margin: 20px 0 0 30px;
            font-size: 20px;
        }

        .prep-title h2, .stg-title h2, .note-title h2 {
            font-weight: normal;
            font-size: 35px;
        }
    }

    .browse {
        margin: 60px 0 0 0; /*changed margin for tablet mode*/
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .browse-btn {
        background-color: #ee9494;
        padding: 17px 40px; 
        border-radius: 50px;
        cursor: pointer;
        border: 0;
        color: white;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 15px;
        transition: all 0.5s ease;
        margin: 20px 0; 
    }

    .browse-btn:hover {
        letter-spacing: 3px;
        background-color: #ee9494;
        color: hsl(0, 0%, 100%);
        box-shadow: #F3F3F3;
    }

    .browse-btn:active {
        letter-spacing: 3px;
        background-color: #ee9494;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }
}

.browse{
    margin: 60px 50px 0px 600px;
    height: 100px;
    
}


button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    color: #ee9494;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color:#ee9494;
    color: hsl(0, 0%, 100%);
    box-shadow: #F3F3F3;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: #ee9494;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

.line{
    margin: 50px 150px 0px 150px;
}

.img4-rcp-mobtab{
    display: none;
}

.icon:hover{
    transform: scale(1.3);
    
}


