@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;

    
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
  :root {
    --color-white: rgba(255, 255, 255, 1);
    --color-black-16855c: rgba(0, 0, 0, 0.25);
    --color-darksalmon-e2314379: rgba(238, 148, 148, 1);
    --color-whitesmoke-cb2496b4: rgba(243, 243, 243, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-tomato-63e: rgba(255, 87, 87, 1);
    --color-darkslategrey-9b95c861: rgba(37, 37, 37, 1);
    --color-grey: rgba(128, 128, 128, 1);
    --color-darkslategrey-4c75dc8d: rgba(37, 61, 78, 1);
    --color-black-b9f7: rgba(0, 0, 0, 0.5);
    --color-gainsboro-de3cef61: rgba(217, 217, 217, 0.05);
    --color-darkgrey-46ff8a27: rgba(161, 161, 161, 1);
    --color-darkslategrey-14624d51: rgba(38, 37, 34, 1);
    --color-991c5d52: transparent;
    --color-chocolate-23a323b2: rgba(220, 88, 42, 1);
    --font-size-20: 20px;
    --font-size-50: 50px;
    --font-size-15: 15px;
    --font-size-14: 14px;
    --font-size-22: 22px;
    --font-size-16: 16px;
    --font-size-10: 10px;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --border-radius-62: 62px;
    --border-radius-2: 2px;
    --border-radius-3: 3px;
    --border-radius-16: 16px;
    --border-radius-24: 24px;
  }

  .recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 44px;
    padding-bottom: 84px;
    padding-left: 45px;
    background: var(--color-white);
  }
  .content-wrapper {
    flex: 0 0 auto;
    padding-right: 85px;
    padding-left: 84px;
  }
  .image-container-styles {
    box-sizing: border-box;
    display: block;
    width: 500px;
    max-width: initial;
    height: 350px;
    border: none;
    object-fit: cover;
    margin-top: -100px;
    margin-bottom: -10px;

    @media screen and (max-width: 1024px) {
      box-sizing: border-box;
      display: block;
      width: 350px;
      max-width: initial;
      height: 450px;
      border: none;
      object-fit: cover;
      margin-top: -100px;
      margin-bottom: 30px;
    }
  }

  a {
    text-decoration: none;
  }

  .recipe-card-container1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .recipe-card-container2 {
    flex: 0 0 auto;
    padding-right: 10px;
    padding-left: 9px;
  }
  .featured-recipe-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: initial;
    height: 396px;
    background: url("assets/adobong_pusit_featured.webp") no-repeat 50% / cover;
    border: none;
    border-radius: var(--border-radius-62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -60px;

    @media screen and (max-width: 1024px) {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      max-width: initial;
      height: 396px;
      background: url("assets/adobong_pusit_featured.webp") no-repeat 50% / cover;
      border: none;
      border-radius: var(--border-radius-62);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: -130px;
    }
  }

  .featured-recipe-card2 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 122px 48px 102px 57px;
    background: var(--color-black-16855c);
    border-radius: var(--border-radius-62);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -1px;
  }
  .featured-recipe-card1 {
    flex: 0 0 auto;
  }
  .featured-title {
    font: var(--font-weight-400) var(--font-size-20) Poppins;
    color: var(--color-darksalmon-e2314379);
    white-space: pre-wrap;
  }
  .highlighted-text {
    margin-top: -16px;
    font: var(--font-weight-400) var(--font-size-50) Poppins;
    color: var(--color-white);
    white-space: pre-wrap;
  }
  .highlighted-text1 {
    margin-top: -30px;
    font: var(--font-weight-400) var(--font-size-50) Poppins;
    color: var(--color-white);
    white-space: pre-wrap;
  }
  .recipe-button-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 36px;
    width: 125px;
    padding-right: 11px;
    padding-left: 11px;
    border: 3px solid var(--color-white);
    
  }
  .recipe-title-text-style {
    flex: 0 0 auto;
    font: var(--font-weight-400) var(--font-size-15) Poppins;
    color: var(--color-white);
    white-space: pre-wrap;
  }
  .recipe-filter-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 21px;
    margin-top: 43px;
  }
  .flex-container-with-filters {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    height: 49px;
    padding-right: 200px;
    padding-left: 200px;
  }
  .input-container {
    box-sizing: border-box;
    flex: 0 0 auto;
    min-width: 450px;
    height: 49px;
    padding-left: 21px;
    margin-right: -6px;
    font: var(--font-weight-400) var(--font-size-14) Poppins;
    background: var(--color-whitesmoke-cb2496b4);
    border: none;
    border-radius: var(--border-radius-2);
  }
  .input-style-f62::placeholder {
    color: var(--color-black);
  }
  .red-box-with-centered-content {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    background: var(--color-tomato-63e);
    border-radius: var(--border-radius-2);
  }
  .svg-container {
    display: flex;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    color: var(--color-white);
  }
  .filter-options-container1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    margin-top: 16px;
  }
  .allergen-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .image-container {
    box-sizing: border-box;
    display: block;
    width: 25px;
    max-width: initial;
    height: 26px;
    border: none;
    object-fit: cover;
  }
  .filter-title-text-style {
    flex: 0 0 auto;
    margin-left: 26px;
    font: var(--font-weight-600) var(--font-size-22) Poppins;
    color: var(--color-darkslategrey-9b95c861);
    white-space: pre-wrap;
  }
  .allergen-profile-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-left: 56px;
    margin-top: 23px;
  }
  .allergens-title-text-style {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 18.53%;
    font: var(--font-weight-500) var(--font-size-16) Poppins;
    color: var(--color-darkslategrey-9b95c861);
    white-space: pre-wrap;
  }
  .allergen-info-block {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.22%;
    padding-right: 15px;
    padding-left: 15px;
    font: var(--font-weight-500) var(--font-size-16) Poppins;
    color: var(--color-darkslategrey-9b95c861);
    white-space: pre-wrap;
  }
  .allergens-info-text-style {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 15.03%;
    padding-right: 15px;
    padding-left: 15px;
    font: var(--font-weight-500) var(--font-size-16) Poppins;
    color: var(--color-darkslategrey-9b95c861);
    white-space: pre-wrap;
  }
  .ingredient-selection-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 19px;
  }
  .vertical-flex-container2 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 18.53%;
  }
  .flex-container-with-image {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  .food-item-container1 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius-3);
  }
  .food-item-container1 input:checked + img {
    display: block;
  }
  .hidden-input-checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }
  .hidden-icon {
    display: none;
    width: 18px;
    max-width: initial;
    height: 18px;
    margin-top: -1px;
    margin-left: -1px;
  }
  .img-content-66044729 {
    content: url("assets/img_d74c1d.svg");
  }
  .food-item-label {
    margin-left: 12.5px;
    font: var(--font-weight-400) var(--font-size-14) Inter;
    color: var(--color-darkslategrey-4c75dc8d);
  }
  .meat-item-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
  .vegetable-label-style1 {
    margin-left: 11.5px;
    font: var(--font-weight-400) var(--font-size-14) Inter;
    color: var(--color-darkslategrey-4c75dc8d);
  }
  .meal-card {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-top: 30px;
  }
  .food-menu-layout {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    width: 33.22%;
    height: 113px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .filter-menu-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .food-label-style {
    margin-left: 12px;
    font: var(--font-weight-400) var(--font-size-14) Inter;
    color: var(--color-darkslategrey-4c75dc8d);
  }
  .sour-label-style {
    margin-left: 13px;
    font: var(--font-weight-400) var(--font-size-14) Inter;
    color: var(--color-darkslategrey-4c75dc8d);
  }
  .meal-options-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: 54px;
  }
  .food-item-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
  }
  .vertical-card-with-image {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-top: 29px;
  }
  .flavor-options-container {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 33.22%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .flavor-options-container1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 29px;
    align-items: stretch;
    justify-content: flex-start;
  }
  .seafood-wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 70px;

    @media screen and (max-width: 1024px) {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        margin-left: 50px;
    }
  }
  .vertical-flex-container1 {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 15.03%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .vertical-flex-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-right: -15px;
  }
  .card-label-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-top: 28px;
  }
  .ingredient-info-panel {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
  }
  .meal-item-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 18.55%;
  }
  .food-item-container2 {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 33.2%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .spicy-label-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 48.25%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .recipe-card-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 86px;
  }
  .recipe-card-list1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 22px;
    align-items: stretch;
    justify-content: flex-start;
  }
  .recipe-card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 8px 8px 9px;
    background: var(--color-gainsboro-de3cef61);
    border: 1px solid var(--color-black-b9f7);
    border-radius: var(--border-radius-16);
  }
  .recipe-card-img {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    max-width: initial;
    height: 200px;
    border: none;
    border-radius: var(--border-radius-16);
    object-fit: cover;

    @media screen and (max-width: 1024px) {
        box-sizing: border-box;
        display: block;
        flex: 0 0 auto;
        max-width: initial;
        height: 200px;
        border: none;
        border-radius: var(--border-radius-16);
        object-fit: cover;
  }
  }
  .recipe-card1 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-right: 14px;
    padding-left: 14px;
    margin-top: 8px;
  }
  .protein-type-label {
    flex: 0 0 auto;
    font: var(--font-weight-500) var(--font-size-10) Inter;
    color: var(--color-darkgrey-46ff8a27);
    white-space: pre-wrap;
  }
  .recipe-title-style {
    flex: 0 0 auto;
    margin-top: -1px;
    font: var(--font-weight-700) var(--font-size-20) Inter;
    color: var(--color-darkslategrey-9b95c861);
    white-space: pre-wrap;
  }
  .recipe-button {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    align-self: flex-end;
    width: 133px;
    min-width: 133px;
    height: 38px;
    margin-top: -2px;
    font: var(--font-weight-500) var(--font-size-14) Poppins;
    color: var(--color-darkslategrey-14624d51);
    text-transform: uppercase;
    cursor: pointer;
    background: var(--color-991c5d52);
    border: 1px solid var(--color-darkslategrey-14624d51);
    border-radius: var(--border-radius-24);
  }
  .recipe-info {
    flex: 0 0 auto;
    margin-top: -7px;
    font: var(--font-weight-600) var(--font-size-10) Inter;
    color: var(--color-chocolate-23a323b2);
    white-space: pre-wrap;
  }
  .recipe-card-list {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 34px;
  }
  .protein-recipe-card {
    margin-top: 22px;
  }
  .recipe-card:first-child {
    margin-top: 0px;
  }